[Desktop Entry]
Name=Big DigiCam
Comment=Transforme sua câmera digital em uma webcam profissional
Comment[pt_BR]=Transforme sua câmera digital em uma webcam profissional
Exec=big-digicam
Icon=camera-photo
Terminal=false
Type=Application
Categories=AudioVideo;Video;
Keywords=camera;webcam;dslr;gphoto2;
StartupNotify=true
